#canvas {
    border: 1px solid black;
}
#app {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
header {
    display: block;
    position: sticky;
    top: 0;
    left: 0;

    z-index: 10;

    width: 100%;
    height: 60px;

    padding: 20px 20px 20px 20px;
    #main-title {
        display: block;
        font-size: 1.3rem;
        font-weight: 800;
    }
    #sub-title {
        display: block;
        font-size: 0.65rem;
        font-weight: 300;
    }
}

main {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

#query-result {
    position: relative;
    width: 100%;
    height: 35%;
    /*background: #757575;*/

    display: flex;
    justify-content: center;
    /*justify-items: flex-end;*/
    align-items: center;
    z-index: 5;
    div {
        display: block;

        width: fit-content;
        height: fit-content;

        font-size: 11rem;
        font-weight: 700;
        font-family: "Noto Sans Syriac Western", sans-serif;
        color: #171717;
    }
}

#canvas-unit {
    position: relative;
    display: block;
    width: 100%;
    height: 720px;
    /*height: 720px;*/
    z-index: 2;

    #position-aligner {
        position: absolute;
        width: 100%;
        height: 100%;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.indicator {
    width: 50px;
    height: 110px;
    position: fixed;

    bottom: var(--indicator-height);
    /*bottom: 550px;*/
    display: block;
    z-index: 15;

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);

}
#left-indicator{
    /*left: -15px;*/
    left: var(--indicator-margin);
    transform: rotate(var(--left-indicator-angle));

    -webkit-mask-image: linear-gradient(to right, white 70%, transparent 100%);
    mask-image: linear-gradient(to right, white 70%, transparent 100%);
}
#right-indicator {
    right: var(--indicator-margin);
    /*right: -15px;*/
    transform: rotate(var(--right-indicator-angle));

    -webkit-mask-image: linear-gradient(to left, white 70%, transparent 100%);
    mask-image: linear-gradient(to left, white 70%, transparent 100%);
}
.indicator-blur {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4x);
    background: rgba(255, 255, 255, 0.3);

    position: relative;
    width: 100%;
    height: 100%;
}

#left-arrow {
    height: 15px;

    position: absolute;
    top: 40%;
    right: 40%;
    transform: translate(50%, -50%);
    animation: left-float 1s ease-in-out infinite;
}
#right-arrow {
    height: 15px;

    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    animation: right-float 1s ease-in-out infinite;
}


#perceptron-section {
    position: absolute;
    left: 50%;
    bottom: 0;

    transform: translateX(-50%);
    width: auto;
    z-index: 1;
}

#user-input-section {
    /*display: none;*/
    position: absolute;
    display: block;
    left: 50%;
    bottom: 0;
    width: 1120px;
    transform: translateX(-50%);
    height: 560px;
    z-index: 2;
}

#user-input-canvas {
    display: block;
    width: 100%;
    height: 100%;

    z-index: 2;
    /* safari client 대응 */
    transform: translateZ(0);
    will-change: transform;
    overflow: hidden;

    clip-path: url(#arc-clip);
    -webkit-clip-path: url(#arc-clip);
}


svg{
    display: block;
}

#clear {
    position: absolute;
    z-index: 10;

    bottom: 480px;
    right: 10px;

    width: 30px;
    height: 30px;

    background: none;
    border: none;
    img {
        display: block;
        width: 25px;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    }
}

@keyframes left-float {
    0% {
        transform: translateX(1px);
    }
    50% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(1px);
    }
}
@keyframes right-float {
    0% {
        transform: translateX(-1px);
    }
    50% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(-1px);
    }
}

